.section {
  min-height: calc(100vh - 64px);
  margin-top: 64px;
}

.register-form {
  width: 50%;
  padding: 1.5em;
  border-radius: 0.5em;
  background-color: #fff;
  color: var(--secundary);
}

.register-form .title {
  font-size: 1.5rem;
  text-align: left;
  margin: 0 0 1rem;
}

.register-form .title::after {
  content: "";
  display: block;
  width: 5rem;
  height: 3px;
  background-color: var(--primary-light);
  border-radius: 0 1rem 1rem 0;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-box {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.25em;
}

.input-box:focus-within label {
  left: 0;
  top: -0.5rem;
}

.input-box label {
  font-weight: 600;
  font-size: 0.75rem;
  position: absolute;
  top: 2px;
  left: 0.5rem;
  background-color: white;
  padding: 0 0.25rem;
  transition: 0.3s;
}

.input-box input {
  padding: 0.75em;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 0.5em;
  transition: 0.3s;
  margin-top: 0.75em;
}

.input-box input::placeholder {
  color: #bbb;
}

.input-box input:focus {
  border-color: var(--secundary);
}

.register-form button {
  border: none;
  padding: 1em 0;
  border-radius: 0.5em;
  background-color: var(--secundary);
  color: var(--text-light);
  font-weight: 600;
  transition: 0.3s;
}

.register-form button:hover {
  cursor: pointer;
  background-color: rgb(69, 123, 157, 0.9);
}

@media screen and (max-width: 769px) {
  .register-form {
    width: 90%;
  }
}
