.left-margin-aligned{
    margin-left: 29px;
  }
 .right-margin-aligned{
    margin-right: 29px;
  }
  .top-margin-aligned{
    margin-top: 50px;
  }
  .card-edge{
    border-radius:  0.5rem!important;
  }
  .section-title{
    border-bottom: #e63946 solid 2px ;
    width: 50%;
    color: var(--primary);
  }
  h3{
    color: var(--primary);
    /* font-size: 2.10rem !important; */
  }
  span.badge.new:after{
    content: "" !important;
  }
  .input-field input:focus{
    border-color:var(--secundary)!important;
    box-shadow: 0 1px 0 0 var(--secundary)!important;
  }
  .previous-price{
    text-decoration:line-through;
    font-size: 0.7rem;
  }
  .card-content{
    height: 190px;
  }
  .floating-price{
    float: right; 
  }
  .icon-link-color{
    color: var(--secundary);
  }
  .event-a:hover {
    color: var(--secundary);
  }
  .color-a{
color: var(--primary);
  }
